<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <ic-message *ngIf="error" title="Sorry!" type="negative" [messages]="errors"></ic-message>
      <div class="ui raised segment">
        <h1 class="text-center"><i class="fa fa-user"></i> Login</h1>
        <form [formGroup] = "loginForm" class="ui form" (ngSubmit)="onSubmit()">
          <div class="field">
            <input type="text" formControlName="username" name="username" autofocus="true" placeholder="Username">
            <div class="error-field" *ngIf="!username.valid && username.touched">
              username is required
            </div>
          </div>
          <div class="field">
            <input type="password" formControlName="password" name="password" placeholder="Passoword">
            <div class="error-field" *ngIf="!password.valid && password.touched">
              password is required
            </div>
          </div>
          <div class="field">
            <button type="submit" class="ui button primary" [disabled]="!loginForm.valid">Login</button>
          </div>
        </form>
      </div>
    </div>
</div>