<div class="ui grid">
    <div class="row">
        <div class="sixteen wide column">
            <div class="ui card fluid">
                <div class="content">
                    <div class="header">
                        {{ contest.title }}
                    </div>
                    <div class="meta">
                        {{ contest.description }}
                    </div>
                </div>
                <div class="content">
                    <div class="description">
                        <p>
                            <i class="fa fa-calendar"></i> &nbsp;
                            Open till <b>{{ registrationEndDate  }}</b>    
                        </p>
                        <p>
                            <i class="fa fa-clock-o"></i> &nbsp;
                            Hacking on <b>{{ contestStartDate }}</b>
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <button (click)="onBtnRegisterClick()" class="ui button primary" [disabled]="!canRegister">{{ btnRegisterText }}</button>
                    <a [routerLink]="['/groups', groupSlug, 'contests', contest.slug, 'submission']" class="ui button positive" *ngIf="canParticipate">Participate</a>
                    <div class="pull-right" *ngIf="isOwner">
                        <a [routerLink]="['/groups', groupSlug, 'contests', contest.slug, 'edit']"><i class="fa fa-pencil"></i> Edit</a>
                        <a href="#" (click)="onBtnDeleteClick($event)"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>