<div class="ui raised fluid card">
    <div class="content">
        <div class="header">{{ challenge.title }}</div>
        <div class="description">
            {{ challenge.problemStatement }}
        </div>
    </div>
    <div class="extra content">
        <a [routerLink] = "['/challenges', challenge.slug]" class="ui button positive">Solve Challenge</a>
        <div class="pull-right" *ngIf="userIsOwner">
            <a [routerLink]="['/challenges', challenge.slug, 'edit']"><i class="fa fa-pencil"></i> Edit</a>
            <a href="#" (click)="onBtnDeleteChallengeClick($event)"><i class="fa fa-trash"></i> Delete</a>  
        </div>   
    </div>
</div>