<div class="ui grid">
  <div class="row">
    <div class="sixteen column wide">
      <h3 class="text-center"><i class="fa fa-thumbs-o-up"></i> &nbsp; New Challenge</h3>        
    </div>
  </div>
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <form class="ui {{ isFormLoading ? 'loading': '' }} form" [formGroup]="challengesForm">
      <div class="field">
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text" placeholder="Title of the challenge">
        <div class="error-field" *ngIf="!title.valid && title.touched">
          title is required
        </div>
      </div>
      <div class="field">
        <label for="problemStatement">Problem Statement</label>
        <textarea id="problemStatement" formControlName="problemStatement" placeholder="Problem to be solved" rows="3"></textarea>
        <div class="error-field" *ngIf="!problemStatement.valid && problemStatement.touched">
          problem statement is required
        </div>
      </div>
      <div class="field">
        <label for="inputFormat">Input Format</label>
        <textarea id="inputFormat" formControlName="inputFormat" placeholder="The format of input" rows="3"></textarea>
        <div class="error-field" *ngIf="!inputFormat.valid && inputFormat.touched">
          input format is required
        </div>
      </div>
      <div class="field">
        <label for="outputFormat">Output Format</label>
        <textarea id="outputFormat" formControlName="outputFormat" placeholder="The format of output" rows="3"></textarea>
        <div class="error-field" *ngIf="!outputFormat.valid && outputFormat.touched">
           output format is required
        </div>
      </div>
      <div class="field">
        <label for="inputFormat">Constraints</label>
        <textarea id="inputFormat" formControlName="constraints" placeholder="The format of input" rows="3"></textarea>
        <div class="error-field" *ngIf="!constraints.valid && constraints.touched">
          constraints is required
        </div>
      </div>
      <div class="field">
        <label for="sampleInput">Sample Input</label>
        <textarea id="sampleInput" formControlName="sampleInput" placeholder="Example input" rows="3"></textarea>
        <div class="error-field" *ngIf="!sampleInput.valid && sampleInput.touched">
          sample input is required
        </div>
      </div>
      <div class="field">
        <label for="sampleOutput">Sample Output</label>
        <textarea id="sampleOutput" formControlName="sampleOutput" placeholder="Example ouput" rows="3"></textarea>
        <div class="error-field" *ngIf="!sampleOutput.valid && sampleOutput.touched">
          sample output is required
        </div>
      </div>
      <div class="field">
        <label for="explanation">Explanation</label>
        <textarea id="explanation" formControlName="explanation" placeholder="Explanation for the example" rows="3"></textarea>
        <div class="error-field" *ngIf="!explanation.valid && explanation.touched">
          explanation is required
        </div>
      </div>
      <div class="field">
        <label>Test Cases</label>
      </div>
      <div class="field" formArrayName="testCases" *ngFor="let testCase of challengesForm.get('testCases').controls; let i = index">
        <div [formGroupName]="i">
            <div class="field">
                <label for="input-{{ i + 1 }}">Input {{ i + 1 }}</label>
                <textarea id="input-{{ i + 1 }}" rows="3" formControlName="input" placeholder="Input to the program"></textarea>
                <div class="error-field" *ngIf="!input(i).valid && input(i).touched">
                  input {{ i + 1 }} is required
                </div>
                <label for="output-{{ i + 1 }}">Output {{ i + 1 }}</label>
                <textarea id="output-{{ i + 1 }}" rows="3" formControlName="output" placeholder="Output for the program"></textarea>
                <div class="error-field" *ngIf="!output(i).valid && output(i).touched">
                  output {{ i + 1 }} is required
                </div>
                <button (click)="onBtnRemoveTestCaseClick(i)" [disabled]="challengesForm.get('testCases').controls.length == 1" class="ui tiny button negative margin-10"><i class="fa fa-trash"></i></button> 
            </div>
        </div>
      </div>
      <div class="field">
        <button class="ui tiny primary button" (click)="onBtnAddTestCaseClick()"><i class="fa fa-plus"></i> Add Test Case</button>
      </div>
      <div class="field">
        <input type="submit" [value]="btnSubmitText" (click)="onSubmitClick()" class="ui button positive" [disabled]="!challengesForm.valid"/>
      </div>
    </form>
  </div>
</div>