<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <form class="ui form" [formGroup]="groupsForm">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" formControlName="name" placeholder="Name of the group">
        <div class="error-field" *ngIf="!name.valid && name.touched">
          Name field is required
        </div>
      </div>      
      <div class="field">
        <label for="description">Description</label>
        <textarea formControlName="description" placeholder="Something about the group"></textarea>
        <div class="error-field" *ngIf="!description.valid && description.touched">
            Description field is required
          </div>
      </div>
      <div class="field">
        <button type="submit" (click)="onSubmitClick()"  [disabled]="!groupsForm.valid || isFormSubmitting" class="ui button positive">{{ btnSubmitText }}</button>
      </div>
    </form>
  </div>
</div>