<div class="ui grid">
    <div *ngIf="!isLoadingContests" class="row">
        <div class="sixteen column wide">
            <a *ngIf="authService.userHasPermission('manage-contests')" [routerLink]="['/groups', groupSlug, 'contests', 'new']" class="ui button positive"><i class="fa fa-plus"></i> &nbsp; New Contest</a>
        </div>
    </div>
    <div class="row">
        <div class="sixteen column wide">
            <ic-contest *ngFor="let contest of contests" [contest]="contest" (delete)="onContestDeleted($event)"></ic-contest>
        </div>
    </div>
    <div class="row">
        <div class="sixteen column wide">
            <ic-pagination (select)="loadContests($event)"></ic-pagination>
        </div>
    </div>
</div>