<div class="ui grid">
    <div *ngIf="!isLoadingLabWorks" class="row">
        <div class="sixteen column wide">
            <a *ngIf="authService.userHasPermission('manage-groups')" [routerLink]="['/groups', groupSlug, 'lab-works', 'new']" class="ui button positive"><i class="fa fa-plus"></i> &nbsp; New Lab Work</a>
        </div>
    </div>
    <div class="row">
        <div class="sixteen column wide">
            <ic-lab-work *ngFor="let labWork of labWorks" [labWork]="labWork" (delete)="onLabWorkDeleted($event)"></ic-lab-work>
        </div>
    </div>
</div>