<div class="ui grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="ui segments">
        <div class="ui secondary segment clearfix">
          <div class="pull-left">
            <h1><i class="fa fa-code-fork"></i> &nbsp; Current Buffer &nbsp; <span *ngIf="points">[Points: {{ points }}]</span></h1>
          </div>
          <select *ngIf="languagesLoaded" [disabled]="isLoading" (change)="onLanguageChange($event)" class="pull-right form-control">
            <option *ngFor="let compiler of compilers" [value]="compiler.mode">{{ compiler.language }}</option>     
          </select>
        </div>
        <div class="ui segment no-padding">
          <div *ngIf="isLoading" class="ui active text loader">Loading Editor</div>
          <textarea style="resize: none; border: 0px; height:100%" rows="5" id="code-editor"></textarea>
        </div>
        <div class="ui secondary segment">
          <button (click)="onBtnCompileClick()" [disabled]="isLoading ||isSubmitting" class="ui positive button">{{ isSubmitting ? 'Compiling...' : btnCompileText }}</button>
          <button *ngIf="canSubmitCode" (click)="onBtnSubmitClick()" [disabled]="isLoading || isSubmitting" class="ui primary button">Submit Code</button>
        </div>
      </div>
    </div>
  </div>
</div>