<div class="ui left sidebar vertical menu">
  <div class="item">
    <h3 class="text-center"><i class="fa fa-cubes"></i>&nbsp;I&#123;Menu&#125;</h3>
  </div>
  <div class="item">
    <div class="header">Challenges</div>
    <div class="menu">
        <a *ngIf="authService.userHasPermission('manage-challenges')" class="item" [routerLink]="['/challenges']">All Challenge</a>  
        <a class="item" [routerLink]="['/challenges/new']">New Challenge</a>
    </div>
  </div>
  <div class="item">
      <div class="header">Groups</div>
      <div class="menu">
          <a *ngIf="authService.userHasPermission('manage-groups')"  class="item" [routerLink]="['/groups/new']">New Group</a>
          <a class="item" [routerLink]="['/groups']">All Groups</a>
      </div>
    </div>
</div>