/* You can add global styles to this file, and also import other style files */

// Important to avoid error in webpack compilation
$icons-font-path: "../node_modules/semantic-ui-sass/icons" !default;
@import "../node_modules/semantic-ui-sass/semantic-ui.scss";

// Important to avoid error in webpack compilation
$fa-font-path: "../node_modules/font-awesome/fonts" !default;
@import "../node_modules/font-awesome/scss/font-awesome.scss";


body {
    padding-top: 80px;
}

.text-center {
    text-align: center;
}

input[type=text].ng-invalid.ng-touched, input[type=password].ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid #f00 !important;
}

.error-field {
    font-size: small;
    color: #f00;
}
.no-padding {
    padding: 0px !important;
}
.margin-10 {
    margin-top: 10px !important;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clearfix:after {
    display: block;
    content: "";
    clear: both;
}
select.form-control {
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background: #fff;
}
.gray-box {
    width: 100%;
    background: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
}
.red-text {
    color: #f00;
}
.green-text {
    color: #2ecc71;
}
.line-break {
    white-space: pre-wrap;
}
.no-border-radius {
    border-radius: 0px !important;
}