<div class="ui grid">
    <div *ngIf="!isLoadingAssignments" class="row">
        <div class="sixteen column wide">
            <a *ngIf="authService.userHasPermission('manage-assignments')"[routerLink]="['/groups', groupSlug, 'assignments', 'new']" class="ui button positive"><i class="fa fa-plus"></i> &nbsp; New Assignment</a>
        </div>
    </div>
    <div class="row">
        <div class="sixteen column wide">
            <ic-assignment *ngFor="let assignment of assignments" [assignment]="assignment" (delete)="onAssignmentDeleted($event)"></ic-assignment>
        </div>
    </div>
</div>